.main {
  margin-top: 5em;
}

.center {
  justify-content: center;
  padding: 10px;
}

.ui.search input {
  width: 100%;
  border-radius: 0 !important;
}

.item {
  padding: 15px 0px !important;
}

i.icon {
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.my-margin {
  margin-left: 20px;
  margin-right: 20px;
}

.ui.menu {
  width: 100%; /* Make sure the menu spans the full width */
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container h2 {
  margin: 0; /* Remove default margin */
  line-height: 1.5; /* Adjust the line height if needed */
  padding-right: 20px; /* Optional: Adjust the space if needed */
}

.button-container {
  display: flex;          /* Enable flexbox */
  justify-content: center; /* Center horizontally */
  margin-top: 20px;     /* Optional: Add some margin if needed */
}

.confirmation-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  z-index: 1000;
  text-align: center; /* Center the text horizontally */
}

.confirmation-dialog button {
  margin: 5px;
}

/* Optional: Add some styling for the dialog background */
body {
  overflow: hidden; /* Prevent scrolling when dialog is open */
}

.search-bar {
  width: 100%;          /* Take full width of the container */
  margin-top: 10px;      /* Add some margin from the top */
}

.search-bar .ui.icon.input {
  width: 100%;           /* Make the input take full width of the parent container */
}