.main {
  margin-top: 5em;
}

.center {
  justify-content: center;
  padding: 10px;
}

.ui.search input {
  width: 100%;
  border-radius: 0 !important;
}

.item {
  padding: 15px 0px !important;
}

i.icon {
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.my-margin {
  margin-left: 20px;
  margin-right: 20px;
}

.ui.menu {
  width: 100%; /* Make sure the menu spans the full width */
}

.header-container {
  display: flex;
  align-items: center;
}

.header-container h2 {
  margin: 0; /* Remove default margin */
  line-height: 1.5; /* Adjust the line height if needed */
  padding-right: 20px; /* Optional: Adjust the space if needed */
}
